@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MJV - School dotnet</h1>
    
    @{
        var hoje = DateTime.Now;
    }
    <p>Ultimo acesso em: @hoje </p>
</div>